.cardContainer {
  margin: 0 auto;
  margin-bottom: 1.5rem;
  max-width: 1280px;
  background-color: #171717;
  border-radius: 10px;
  padding: 1.2rem 1.5rem;
  display: flex;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.25);
}

.imageContainer {
  align-self: center;
  width: 300px;
  height: 150px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.cardContainer:hover .imageContainer {
  transform: scale(1.05) rotate(-2deg);
}

.infoContainer {
  align-self: center;
  margin: 0 30px;
  flex: 1;
}

.info {
  display: flex;
  margin-bottom: 5px;
}

.infoLabel {
  color: #cfcfcf;
  font-weight: 500;
  font-size: 1rem;
}

.infoData {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  margin: 0 5px;
}

.badgeContainer {
  display: flex;
}

.infoBadge {
  text-align: center;
  max-width: 120px;
  height: 23px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.56);
  padding: 4px 10px;
  border-radius: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 1rem;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
}

@media (max-width: 900px) {
  .cardContainer {
    display: block;
  }

  .imageContainer {
    width: 100%;
    height: 250px;
  }

  .infoContainer {
    align-self: center;
    margin: 10px 0;
    flex: 1;
  }

  .infoBadge {
    margin-left: unset;
    margin-right: 1rem;
  }
}
