.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.tabContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tab {
  color: #d0cbcb;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-right: 2rem;
  padding-bottom: 5px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in;
}

.tab:hover,
.tab.active {
  color: #fff;
  border-bottom-color: #ffffff;
}

.filter {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}
